a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: black;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: sans-serif;
    font-weight: 900;
    background-color: rgba(0,255,0,.1);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.header {
    margin-top: 1em;
    margin-left: 1em;
    white-space: nowrap;
}

.bolder {
    font-weight: bolder;
}

.header-text {
    font-family: 8514sys;
    font-weight: bolder;
    font-size: 30px;
    transform: scale(1.8, 4.6);
    padding-top: .1em;
    padding-left: 5em;
    display: inline-block;
    z-index: -100;
    position: relative;
}

.header-image {
    display: inline-block;
    width: 100px;
    z-index: 100;
}

@font-face {
    font-family: '8514sys';
    src: url(data:font/truetype;base64,TVryAAEAAAAEAAAA//8AALgAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAA4fug4AtAnNIbgBTM0hVGhpcyBwcm9ncmFtIGNhbm5vdCBiZSBydW4gaW4gRE9TIG1vZGUuDQokAAAAAAAAAABORQUBkQACAMaMuw4AgwAAAAAAAAAAAAAAAAAAAAAAACcAQABAAIgAkQCRABMBAAAAAAQAAAACAAAAAAAAAAoDBAAHgAEAAAAAABQACABQDEAAAAAAAAiAAQAAAAAAHAAJAjAcH4AAAAAAEIABAAAAAAAlAh8AMAwBgAAAAAAAAAdGT05URElSBUZPTlRTAAAAAAAjRk9OVFJFUyAxMDAsOTYsOTYgOiBTeXN0ZW0gKFNldCAjNikAAAAAAAAAAAABAB8AAAKFIAAAKGMpQ29weXJpZ2h0IE1pY3Jvc29mdCBDb3JwLiAxOTg4LTE5ODkuIEFsbCByaWdodHMgcmVzZXJ2ZWQAAAAKAHgAeAAQAAQAAAAAAAC8AgAAABQAIQkAEQAg/2AAbQEAAAAAfiAAAAAAAAAAU3lzdGVtAAAAAAAChSAAAChjKUNvcHlyaWdodCBNaWNyb3NvZnQgQ29ycC4gMTk4OC0xOTg5LiBBbGwgcmlnaHRzIHJlc2VydmVkAAAACgB4AHgAEAAEAAAAAAAAvAIAAAAUACEJABEAIP9gAG0BAAAAAH4gAAAAAAAA+gMAAAAEAPoDBQAOBAgAIgQJADYECQBeBA0AhgQLAK4EBADWBAUA6gQFAP4ECQASBQkAOgUEAGIFBQB2BQQAigUEAJ4FCQCyBQkA2gUJAAIGCQAqBgkAUgYJAHoGCQCiBgkAygYJAPIGCQAaBwQAQgcEAFYHCQBqBwkAkgcJALoHCgDiBxAACggMADIIDABaCAwAgggMAKoICwDSCAoA+ggNACIJDABKCQUAcgkJAIYJCwCuCQoA1gkOAP4JDAAmCg0ATgoLAHYKDQCeCgwAxgoLAO4KCgAWCwwAPgsLAGYLDwCOCwsAtgsLAN4LCgAGDAUALgwEAEIMBQBWDAUAagwJAH4MBQCmDAoAugwKAOIMCQAKDQoAMg0KAFoNBgCCDQoAlg0KAL4NBADmDQQA+g0JAA4OBAA2Dg4ASg4KAHIOCgCaDgoAwg4KAOoOBwASDwkAJg8GAE4PCgBiDwkAig8OALIPCADaDwkA7g8IABYQBgAqEAYAPhAGAFIQBQBmEAcAehAHAI4QBwCiEAcAthAHAMoQBwDeEAcA8hAHAAYRBwAaEQcALhEHAEIRBwBWEQcAahEHAH4RBwCSEQcAphEHALoRBwDOEQgA4hEIAPYRBwAKEgcAHhIHADISBwBGEgcAWhIHAG4SBwCCEgcAlhIHAKoSBwC+EgcA0hIHAOYSBwD6EgwADhMFADYTCQBKEwkAchMJAJoTCQDCEwYA6hMJAP4TBQAmFAwAOhQGAGIUCQB2FAkAnhQFAMYUDADaFAkAAhUFACoVCQA+FQUAZhUFAHoVBQCOFQoAohUJAMoVBADyFQUABhYFABoWBgAuFgkAQhYNAGoWDQCSFg0AuhYKAOIWDAAKFwwAMhcMAFoXDACCFwwAqhcMANIXEQD6FwwANhgLAF4YCwCGGAsArhgLANYYBQD+GAUAEhkFACYZBQA6GQwAThkMAHYZDQCeGQ0AxhkNAO4ZDQAWGg0APhoKAGYaDQCOGgwAthoMAN4aDAAGGwwALhsLAFYbCwB+GwoAphsKAM4bCgD2GwoAHhwKAEYcCgBuHAoAlhwQAL4cCQDmHAoADh0KADYdCgBeHQoAhh0EAK4dBADCHQQA1h0EAOodCgD+HQoAJh4KAE4eCgB2HgoAnh4KAMYeCgDuHggAFh8KACofCgBSHwoAeh8KAKIfCgDKHwkA8h8KABogCQBCIAgAaiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwMDAwMDAwMDAAMDAAAAAAAAAAAGZmZmYAAAAAAAAAAAAAAAAAAAAAGxsbfzY2Njb/bGxsAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAg+a2toaD4LC2trPggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4bGxsOQMGDBkxYcAAAAAAAAAAABgwYMCAAADgsLCw4AAAAAAAAAAAHDY2NhwcPDZnY2c9AAAAAAAAAAAAAAAAAAAAwIAAgIAAAAAAAAAAAGBgYGAAAAAAAAAAAAAAAAAAAAAAGDAwYGBgYGBgYGBgYDAwGAAAAADAYGAwMDAwMDAwMDAwYGDAAAAAAAAAADMzHn8eMzMAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAwMDAx/DAwMDAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGBgwAAAAAAAAAAAAAAAAAAA+AAAAAAAAAAAAAAAAAAAAAAAAAAAAABgYAAAAAAAAAAAMDAwMGBgYGDAwMDAAAAAAAAAAAAcNmNjY2NjY2NjNhwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADDwMDAwMDAwMDAwMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD5jQwMDBgwYMGBgfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+Y0MDAx4DAwNDYz4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgYODh42NmZ/BgYGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH9gYGB+YwMDA0NjPgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeMGBgYH5jY2NjYz4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfwMDBgYMDAwYGBgYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD5jY2NjPmNjY2NjPgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+Y2NjY2M/AwMDBjwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYGAAAAAAAGBgAAAAAAAAAAAAAABgYAAAAAAAYGDAAAAAAAAAAAADBgwYMGAwGAwGAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfwAAfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAwGAwGAwYMGDBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4zYQEBAwYMDAAMDAAAAAAAAAAAAACAgIAAAAAAAAAAAAAAAAAAAAAHHDAxY2ZmZmYzMBwHAAAAAAAAAOA4DMxmZmZmbLgAAOAAAAAAAAAAAgcHDQ0YGDA/YGBgAAAAAAAAAAAAAACAgMDAYOAwMDAAAAAAAAAAAD8wMDAwPzAwMDAwPwAAAAAAAAAAgMBgYMCAwGBgYMCAAAAAAAAAAAAHDBgYMDAwMBgYDAcAAAAAAAAAAMBgMDAAAAAAMDBgwAAAAAAAAAAAPzEwMDAwMDAwMDE/AAAAAAAAAAAAgMDAYGBgYMDAgAAAAAAAAAAAAD8wMDAwPzAwMDAwPwAAAAAAAAAAwAAAAACAAAAAAADAAAAAAAAAAAA/MDAwMD8wMDAwMDAAAAAAAAAAAMAAAAAAgAAAAAAAAAAAAAAAAAAABwwYGDAwMTAYGAwHAAAAAAAAAADAYDAwAADwMDBwcNAAAAAAAAAAADAwMDAwPzAwMDAwMAAAAAAAAAAAYGBgYGDgYGBgYGBgAAAAAAAAAAAwMDAwMDAwMDAwMDAAAAAAAAAAAAMDAwMDAwMDY2M2HAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwMTM2PDg8NjMxMDAAAAAAAAAAAMCAAAAAAAAAAIDAYAAAAAAAAAAAMDAwMDAwMDAwMDA/AAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAADAwODg8PDY2MzMxMQAAAAAAAAAAGBg4OHh42NiYmBgYAAAAAAAAAAAwMDg8PjYzMzEwMDAAAAAAAAAAAGBgYGBgYGDg4OBgYAAAAAAAAAAABwwYGDAwMDAYGAwHAAAAAAAAAACAwGBgMDAwMGBgwIAAAAAAAAAAAD8wMDAwMD8wMDAwMAAAAAAAAAAAgMBgYGDAgAAAAAAAAAAAAAAAAAAHDBgYMDAwMxkYDAcAAAAAAAAAAIDAYGAwMDAw4ODgsAAAAAAAAAAAPzAwMDAwPzAwMDAwAAAAAAAAAACAwGBgYMCAwGBgYDAAAAAAAAAAAA8ZMDAYDwEAADAZDwAAAAAAAAAAAIDAAAAAgMDAwIAAAAAAAAAAAAD/DAwMDAwMDAwMDAwAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAMDAwMDAwMDAwMBgPAAAAAAAAAABgYGBgYGBgYGBgwIAAAAAAAAAAAGBgMDAwGRkJDw8GBgAAAAAAAAAAYGDAwMCAgAAAAAAAAAAAAAAAAABgYWExMzMaHh4MDAwAAAAAAAAAAAaGhozMzFh4eDAwMAAAAAAAAAAAYGAwGQ8GBg8ZMGBgAAAAAAAAAABgYMCAAAAAAIDAYGAAAAAAAAAAAGBgMBkZDw8GBgYGBgAAAAAAAAAAYGDAgIAAAAAAAAAAAAAAAAAAAAB/AAEDAwYMGBgwYH8AAAAAAAAAAMDAgAAAAAAAAAAAwAAAAAAAAAAAeGBgYGBgYGBgYGBgYGBgeAAAAADAwMDAYGBgYDAwMDAAAAAAAAAAAPAwMDAwMDAwMDAwMDAwMPAAAAAgcNgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAABwMBgAAAAAAAAAAAAAAAAAAAAAAAAAAAA/YQEPOWFhYT4AAAAAAAAAAAAAAACAgICAgICAwAAAAAAAAAAAYGBgbnNhYWFhYXNuAAAAAAAAAAAAAAAAAICAgICAAAAAAAAAAAAAAAAAAB4zYWBgYGEzHgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEdM2FhYWFhMx0AAAAAAAAAAICAgICAgICAgICAgAAAAAAAAAAAAAAAHjNhYX9gYDEfAAAAAAAAAAAAAAAAAICAgAAAgAAAAAAAAAAAABwwMPwwMDAwMDAwMAAAAAAAAAAAAAAAHTNhYWFhYTMdAQFjPgAAAAAAAACAgICAgICAgICAgAAAAAAAAGBgYG5zYWFhYWFhYQAAAAAAAAAAAAAAAACAgICAgICAAAAAAAAAAABgYABgYGBgYGBgYGAAAAAAAAAAAGBgAGBgYGBgYGBgYGBgYMAAAAAAYGBgY2ZseHhsZmNhAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAGBgYGBgYGBgYGBgYAAAAAAAAAAAAAAAbnNjY2NjY2NjAAAAAAAAAAAAAABwmBgYGBgYGBgAAAAAAAAAAAAAAG5zYWFhYWFhYQAAAAAAAAAAAAAAAACAgICAgICAAAAAAAAAAAAAAAAeM2FhYWFhMx4AAAAAAAAAAAAAAAAAgICAgIAAAAAAAAAAAAAAAAAAbnNhYWFhYXNuYGBgYAAAAAAAAAAAAICAgICAAAAAAAAAAAAAAAAAAB0zYWFhYWEzHQEBAQEAAAAAAAAAgICAgICAgICAgICAgAAAAAAAAABueHBgYGBgYGAAAAAAAAAAAAAAAD5jYHA+BwNjPgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwMDD8MDAwMDAwMBwAAAAAAAAAAAAAAGFhYWFhYWEzHQAAAAAAAAAAAAAAgICAgICAgICAAAAAAAAAAAAAAADBwWNjYzY2HBwAAAAAAAAAAAAAAICAAAAAAAAAAAAAAAAAAAAAAAAAwMNjZ2c0PBgYAAAAAAAAAAAAAAAMDBiYmLDwYGAAAAAAAAAAAAAAAMPDZjwYPGbDwwAAAAAAAAAAAAAAwcFjY2M2NhwcGBgwYAAAAAAAAACAgAAAAAAAAAAAAAAAAAAAAAAAAH4GDAwYMDBgfgAAAAAAAAAADBgwMDAwMGAwMDAwMBgMAAAAAAAwMDAwMDAwMDAwMDAwMDAwAAAAAMBgMDAwMDAYMDAwMDBgwAAAAAAA6LgAAAAAAAAAAAAAAAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAHDzw4AAAAAAAAAAAAAAAAAAAAABw88OAAAAAAAAAAAAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAODg4ODg4ODg4ODgAAAAAAAAAAAA4ODg4ODg4ODg4OAAAAAAAAAAAADg4ODg4ODg4ODg4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMDAAMDAwMDAwMDAwAAAAAAAAAAAAAAYeN2VkZGhpOx4YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHjMwMDB4MDAwMHtuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYz5jY2NjPmMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABhYTMzfx4MfwwMDAwAAAAAAAAAAICAAACAAACAAAAAAAAAAAAAAAAAMDAwMDAwMAAAMDAwMDAwMAAAAAAeMzAYPGZjMx4MBmY8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADY2AAAAAAAAAAAAAAAAAAAAAAAAAAfYECPmZiYmY9AYB8AAAAAAAAAAIBgIBCQEBCQECBggAAAAAAAAAAAeMw8zMx8APwAAAAAAAAAAAAAAAAAAAAAABkzZsxmMxkAAAAAAAAAAAAAAAAAgAAAAAAAgAAAAAAAAAAAAAAAAAAAfwMDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD4AAAAAAAAAAAAAAAAH2BAn5mZn5mZQGAfAAAAAAAAAACAYCAQkJAQkJAgYIAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAABw2NhwAAAAAAAAAAAAAAAAAAAAAAAAAAwMDH8MDAwAfwAAAAAAAAAAAAAAAAAAgAAAAACAAAAAAAAAAABw2BgwYPgAAAAAAAAAAAAAAAAAAHDYMBjYcAAAAAAAAAAAAAAAAAA4MGAAAAAAAAAAAAAAAAAAAAAAAAAAAABhYWFhYWFhc31gYGAAAAAAAAAAAICAgICAgICAgAAAAAAAAAAAP339/f19PQUFBQUFAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMBjYcAAAAAAw8DAwMDAAAAAAAAAAAAAAAAAAAHjMzMzMeAD8AAAAAAAAAAAAAAAAAAAAAADMZjMZM2bMAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAADDwMDAxMwYMGDBgwAAAAAAAAAAAGDBgwIAAGDhY2PgYAAAAAAAAAAAw8DAwMTMGDBgwYMAAAAAAAAAAABgwYMCAAHDYGDBg+AAAAAAAAAAAcNgwGNlzBgwYMGDAAAAAAAAAAAAYMGDAgAAYOFjY+BgAAAAAAAAAAAwMAAwMGDBgYGEzHgAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAABwMBgACBwcNDRgYMD9gYGAAAAAAAAAAAAAAAICAwMBg4DAwMAAAAAABAQMAAgcHDQ0YGDA/YGBgAAAAAMCAAAAAAACAgMDAYOAwMDAAAAAABw0YAAIHBw0NGBgwP2BgYAAAAAAAgMAAAAAAgIDAwGDgMDAwAAAAABw3MQACBwcNDRgYMD9gYGAAAAAAYGDAAAAAAICAwMBg4DAwMAAAAAAYGAAAAgcHDQ0YGDA/YGBgAAAAAMDAAAAAAACAgMDAYOAwMDAAAAAABw0NBwIHBw0NGBgwP2BgYAAAAAAAgIAAAAAAgIDAwGDgMDAwAAAAAAAAAAADAwYGDAwYGD8wYGAAAAAAAAAAAP/AwMDA/sDAwMDA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHDBgYMDAwMBgYDAcDAQ0HAAAAAMBgMDAAAAAAMDBgwACAgAAcDAYAPzAwMDA/MDAwMDA/AAAAAAAAAADAAAAAAIAAAAAAAMAAAAAAAwMGAD8wMDAwPzAwMDAwPwAAAACAAAAAwAAAAACAAAAAAADAAAAAAAYPGQA/MDAwMD8wMDAwMD8AAAAAAACAAMAAAAAAgAAAAAAAwAAAAAAwMAAAPzAwMDA/MDAwMDA/AAAAAMDAAADAAAAAAIAAAAAAAMAAAAAA4GAwADAwMDAwMDAwMDAwMAAAAAAYGDAAMDAwMDAwMDAwMDAwAAAAADB4yAAwMDAwMDAwMDAwMDAAAAAA2NgAADAwMDAwMDAwMDAwMAAAAAAAAAAAPzEwMDB8MDAwMDE/AAAAAAAAAAAAgMDAYGBgYMDAgAAAAAAAHDcxADAwODw+NjMzMTAwMAAAAABgYMAAYGBgYGBgYODg4GBgAAAAAA4GAwAHDBgYMDAwMBgYDAcAAAAAAAAAAIDAYGAwMDAwYGDAgAAAAAABAQMABwwYGDAwMDAYGAwHAAAAAMCAAACAwGBgMDAwMGBgwIAAAAAAAwcMAAcMGBgwMDAwGBgMBwAAAAAAgMAAgMBgYDAwMDBgYMCAAAAAAB43MQAHDBgYMDAwMBgYDAcAAAAAMLDgAIDAYGAwMDAwYGDAgAAAAAAYGAAABwwYGDAwMDAYGAwHAAAAAGBgAACAwGBgMDAwMGBgwIAAAAAAAAAAAAAAAABhMx4MHjNhAAAAAAAAAAAAAAAAAIAAAAAAAIAAAAAAAAAAAAAHDBgYMTMzNhwYPCcAAAAAAAAAAJDwYOCwMDAwYGDAgAAAAAAOBgMAMDAwMDAwMDAwMBgPAAAAAAAAAABgYGBgYGBgYGBgwIAAAAAAAwMGADAwMDAwMDAwMDAYDwAAAACAAAAAYGBgYGBgYGBgYMCAAAAAAAcNGAAwMDAwMDAwMDAwGA8AAAAAAIDAAGBgYGBgYGBgYGDAgAAAAAAYGAAAMDAwMDAwMDAwMBgPAAAAAMDAAABgYGBgYGBgYGBgwIAAAAAAAwMGAGBgMBkZDw8GBgYGBgAAAACAAAAAYGDAgIAAAAAAAAAAAAAAAAAAAAAwMDA/MTAwMT8wMDAAAAAAAAAAAAAAAACAwMCAAAAAAAAAAAAAAAAAPmNjY2JuY2FhYWNuAAAAAAAAAAAAAAAAAAAAgICAAAAAAAAAAAAAOBgMAD9hAQ85YWFhPgAAAAAAAAAAAAAAAICAgICAgIDAAAAAAAAAAAcGDAA/YQEPOWFhYT4AAAAAAAAAAAAAAACAgICAgICAwAAAAAAAAAAMHjMAP2EBDzlhYWE+AAAAAAAAAAAAAAAAgICAgICAgMAAAAAAAAAAOW1nAD9hAQ85YWFhPgAAAAAAAACAgAAAAICAgICAgIDAAAAAAAAAAGFhAAA/YQEPOWFhYT4AAAAAAAAAgIAAAACAgICAgICAwAAAAAAAAB4zMx4AP2EBDzlhYWE+AAAAAAAAAAAAAAAAgICAgICAgMAAAAAAAAAAAAAAAD9hAQ85YWFhPgAAAAAAAAAAAAAAeMyGhv6AgMZ8AAAAAAAAAAAAAAAeM2FgYGBhMx4MBjYcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4GAwAHjNhYX9gYDEfAAAAAAAAAAAAAAAAAICAgAAAgAAAAAAAAAAABwYMAB4zYWF/YGAxHwAAAAAAAAAAAAAAAACAgIAAAIAAAAAAAAAAAAweMwAeM2Fhf2BgMR8AAAAAAAAAAAAAAAAAgICAAACAAAAAAAAAAABhYQAAHjNhYX9gYDEfAAAAAAAAAICAAAAAAICAgAAAgAAAAAAAAAAAwMBgAGBgYGBgYGBgYAAAAAAAAAAwMGAAYGBgYGBgYGBgAAAAAAAAAGDwkABgYGBgYGBgYGAAAAAAAAAAkJAAAGBgYGBgYGBgYAAAAAAAAABsOGwGHzNhYWFhYTMeAAAAAAAAAAAAAAAAAICAgICAAAAAAAAAAAAAOW1nAG5zYWFhYWFhYQAAAAAAAACAgAAAAACAgICAgICAAAAAAAAAADgYDAAeM2FhYWFhMx4AAAAAAAAAAAAAAAAAgICAgIAAAAAAAAAAAAAHBgwAHjNhYWFhYTMeAAAAAAAAAAAAAAAAAICAgICAAAAAAAAAAAAADB4zAB4zYWFhYWEzHgAAAAAAAAAAAAAAAACAgICAgAAAAAAAAAAAADltZwAeM2FhYWFhMx4AAAAAAAAAgIAAAAAAgICAgIAAAAAAAAAAAABhYQAAHjNhYWFhYTMeAAAAAAAAAICAAAAAAICAgICAAAAAAAAAAAAAAAAAABgYAH4AGBgAAAAAAAAAAAAAAAAAHzNnZ215eTN+AAAAAAAAAAAAAACAAICAgICAAAAAAAAAAAAAOBgMAGFhYWFhYWEzHQAAAAAAAAAAAAAAgICAgICAgICAAAAAAAAAAAcGDABhYWFhYWFhMx0AAAAAAAAAAAAAAICAgICAgICAgAAAAAAAAAAMHjMAYWFhYWFhYTMdAAAAAAAAAAAAAACAgICAgICAgIAAAAAAAAAAYWEAAGFhYWFhYWEzHQAAAAAAAACAgAAAgICAgICAgICAAAAAAAAAAA4MGADBwWNjYzY2HBwYGDBgAAAAAAAAAICAAAAAAAAAAAAAAAAAAAAAYGBgbnNhYWFhYXNuYGBgYAAAAAAAAAAAAICAgICAAAAAAAAAAAAAY2MAAMHBY2NjNjYcHBgYMGAAAAAAAAAAgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU3lzdGVtAAAAAAAAAAAAAAAA5AE0AFZTX1ZFUlNJT05fSU5GTwC9BO/+AAABAAoAAwBnAAAACgADAGcAAAA/AAAAAAAAAAEAAQAEAAAAAQAAAAAAAAAAAAAAdgEAAFN0cmluZ0ZpbGVJbmZvAABiAQAAMDQwOTA0RTQAAAAAJwAXAENvbXBhbnlOYW1lAE1pY3Jvc29mdCBDb3Jwb3JhdGlvbgAAAD0AKQBGaWxlRGVzY3JpcHRpb24AODUxNC9hICgxMDI0eDc2OCkgcmVzb2x1dGlvbiBzeXN0ZW0gZm9udAAAAAAWAAYARmlsZVZlcnNpb24AMy4xMAAAAAAaAAYASW50ZXJuYWxOYW1lAAAAAEZPTlRTAAAAOwAnAExlZ2FsQ29weXJpZ2h0AABDb3B5cmlnaHQgqSBNaWNyb3NvZnQgQ29ycC4gMTk5MS0xOTkyAAAAJAAMAE9yaWdpbmFsRmlsZW5hbWUAAAAAODUxNFNZUy5GT04AOQApAFByb2R1Y3ROYW1lAE1pY3Jvc29mdK4gV2luZG93cyhUTSkgT3BlcmF0aW5nIFN5c3RlbQAAAAAAGgAGAFByb2R1Y3RWZXJzaW9uAAAzLjEwAAAAACQAAABWYXJGaWxlSW5mbwAUAAQAVHJhbnNsYXRpb24ACQTkBAAAAAAAAAAAAAAAAA==);
}

dt {
    font-weight: bold;
}

dd {
    font-weight: normal;
}

.validation-summary-errors {
    color: rgba(255,0,0,1);
}

    .validation-summary-errors ul {
        list-style-type: simp-chinese-informal;
    }


.field-validation-error {
    color: red;
}

.form-control:focus.input-validation-error {
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}

.form-label:after {
    content: ':';
}

.font-weight-light {
    font-weight: 100;
}

form input, form textarea {
    border: 1px solid black !important;
    border-radius: 0rem !important;
}

.iframe {
    min-width: 100% !important;
    min-height: 800px;
    height: 800px !important;
}